.app-cacualator {
  width: 250px;
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  padding: 10px 5px;
  background-color: #333;
  border-radius: 3px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
input:focus {
  border: none;
  outline: none;
  padding: 0px;
  /* outline-offset: 0; */
}
input {
  padding: 0;
  padding: 0px;
  height: 60px;
  font-size: 30px;
  box-sizing: border-box;
  text-align: right;
}
.btn {
  height: 50px;
  font-weight: 300;
  font-size: 20px;
}
.merge1 {
  grid-column: 1 / span 2;
}
.merge2 {
  grid-column: 3 / span 2;
}
.active {
  background-color: rgb(125, 155, 144);
  color: white;
}
